{% extends "base.html" %}
{% block content %}
<div>
    <div class="col-md-6 offset-md-3">
        <h2 class="text-alain-center"><strong>Nuestra Historia</strong></h2>
        <p class="text-alain-center">Es una historia muy larga! tienes tiempo</p>
        <p class="text-alain-center">blah blah blah</p>
        <p class="text-alain-center">blah blah blah</p>
        <p class="text-alain-center">blah blah blah</p>
        <p class="text-alain-center">blah blah blah</p>
    </div>
</div>

{% endblock %}